html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION BAR */

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 1.5rem;
}

li {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
}

li:hover {
  font-weight: 700;
  transition: font-weight 400ms;
}

.logo {
  width: 50%;
}

.colmar,
.academy {
  letter-spacing: 0.12rem;
}

.mob-only {
  display: none;
}

/* GENERAL PAGE TEMPLATE */

.two-column {
  display: inline-flex;
}

.column-one {
  width: 60%;
}

.column-one img {
  margin: 2rem 1.5rem;
  width:calc(100% - 3rem);
}

.column-one video {
  margin: 0 1.5rem 2rem 1.5rem;
  width:calc(100% - 3rem);
}

.column-two {
  width: 40%;
}

.event-container {
  display: flex;
  align-items: center;
}

.event-container:hover {
    background-color: grey;
    transition: background-color 400ms ease-out;
}

.event-details {
  display: block;
}

.event-container img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

/* GENERAL MOBILE */

  @media only screen and (max-width: 560px) {
    .mob-hide {
      display: none;
    }

    .mob-only {
      display: block;
    }

    .event-container {
      display: block;
      margin: 1rem 0;
    }

    .event-container img {
      width: 95%;
      height: auto;
      margin: 1rem 0;
    }
  }

/* LEARN SOMETHING NEW EVERYDAY */

.learn-something {
  background-color: darkgrey;
}

.learn-something .column-two {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.start-button {
  padding: 0.5rem;
  background-color: grey;
  width: 90%;
}

.start-button:hover {
  background-color: skyblue;
  transition: background-color 1.5s ease-out;
}

.white-text {
  color: white;
  text-align: center;
}

  @media only screen and (max-width: 560px) {

    .two-column {
      display: block;
    }

    .column-one,
    .column-two {
      width: 100%;
    }

    .column-one {
      margin: 2rem 1rem;
    }

    .column-two {
      margin: 1rem;
      padding-bottom: 1rem;
    }

    .column-one img {
      margin: -1rem;
      width: 100%;
    }
  }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem auto;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem auto;
}

/* IT DOESN'T HURT TO KEEP PRACTICING */

.keep-practicing .column-one {
  border-right: 1px solid grey;
}

.keep-practicing h1 {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.keep-practicing p {
  margin: 2rem 1.5rem;
}

.bold {
  font-weight: 600;
}

.read-more {
  color: skyblue;
  margin: 0.5rem auto;
}

.read-more:hover {
  color: blue;
  transition: color 1s linear;
}

.keep-practicing .event-container:first-child img {
  margin: 2rem 1rem 1rem 1rem;
}

.keep-practicing .event-container:last-child {
  background-color: darkgrey;
}

.keep-practicing .event-container:last-child:hover {
    background-color: grey;
    transition: background-color 400ms ease-out;
}

.keep-practicing .event-container {
  border: 0.5px solid darkgrey;
}

  @media only screen and (max-width: 560px) {

    .keep-practicing .event-container:last-child {
      background-color: white;
    }

    .keep-practicing .event-container {
      border: none;
    }

  }

/* START LEARNING */

.start-learning {
  background-color: darkgrey;
  padding: 0 4rem 2rem 4rem;
  border: 0.5px solid darkgrey;
}

.start-learning h1 {
  text-align: center;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.course-container {
  margin: 2rem 1rem;
  width: 30%;
}

.course-container img {
  width: 100%;
  height: auto;
}

.grid .course-container {
  background-color: white;
}

.grid .course-container:hover {
    background-color: grey;
    transition: background-color 400ms ease-out;
}

.start-learning h2,
.start-learning h3,
.start-learning p {
  padding: 0 1rem;
  margin: 0.5rem 0;
}

  @media only screen and (max-width: 560px) {

    .start-learning {
      background-color: white;
      padding: 0 1rem 2rem 1rem;
      border: 0.5px solid darkgrey;
    }

    .start-learning h2 {
      background-color: darkgrey;
      padding: 1rem;
      margin: 0.5rem;
      font-size: 1.75rem;
    }

    .start-learning h2:hover {
      background-color: skyblue;
      transition: background-color 400ms ease-out;
    }

    .course-container {
      margin: 2rem 1rem;
      width: 95%;
    }

    .grid {
      display: block;
    }

  }

/* THESIS EXHIBIT */

.thesis-exhibit h1 {
  text-align: center;
}

.thesis-exhibit .column-one h2 {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.thesis-exhibit p {
  margin: 2rem 1.5rem;
}

.thesis-exhibit .event-container:first-child {
  background-color: darkgrey;
}

.thesis-exhibit .event-container:first-child:hover {
  background-color: grey;
  transition: background-color 400ms ease-out;
}

  @media only screen and (max-width: 560px) {

  }

/* FOOTER */

footer {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 0.5px solid darkgrey;
}

footer,
footer div {
  display: flex;
  justify-content: space-between;
}

.terms,
.privacy {
  margin: auto 0.5rem;
}

  @media only screen and (max-width: 560px) {

  }
